/* Defining fonts */
@font-face {
    font-family: "MarvelLogo";
    src: url("../../public/fonts/Marvel-Logo-font/MarvelRegular-Dj83.ttf");
}

@font-face {
    font-family: "MarvelText";
    src: url("../../public/fonts/Marvel-text-font/Marvel-Regular.ttf");
}

/* Define fixed sizes for containers */
#login-form {
    width: 500px;
}

#registrati-form {
    width: 700px;
}

.container {
    min-height: 100vh;
}

#mainContainer {
    padding: 70px 0;
}

#card {
    text-align: center;
    width: 150px;
}

#creditButton {
    width: 120px;
}

#packsButton {
    width: 140px;
}

#indexList {
    margin-left: 20px
}

#trade {
    width: 600px
}

/* Sets image of unobtained card to gryscale */
#unobtained {
    filter: grayscale(100%);
}

/* Background color of various items */
.mx-auto {
    background-color: #212529;
}

.border, .navbar, .modal-content, .dropdown-menu {
    background: rgb(20, 20, 20);
}

/* Define background and font of entire page */
body {
    background-image:    url('../../public/images/marvelbg.jpg');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;  
    font-family: "MarvelText";  
    font-weight: bold;
    font-size: larger;      
}

/* Define fonts and colors */
.btn, .navbar-nav, h5 {
    font-family: "MarvelText";  
    font-size: large; 
    font-weight: bold;  
}

.btn-danger {
    background-color: #F0131E;
    color:#212529
}

.navbar-brand {
    font-family: "MarvelLogo";
    font-weight: bold;
    font-size: xx-large;
    letter-spacing: 2px;
    color: #F0131E;
}

h1, h3 {
    font-family: "MarvelLogo";
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 2px;
    color: #F0131E;
}

