#login-form {
    width: 500px;
}

#registrati-form {
    width: 700px;
}

.container {
    min-height: 100vh;
}

.mx-auto {
    background-color: #212529;
}

body {
    background-image:    url('../../public/images/marvelbg.jpg');
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;          
}

#mainContainer {
    padding: 70px 0;
}

.border {
    background: rgb(27, 27, 27);
}

.navbar {
    background-color: rgb(27, 27, 27);
}

#card {
    width: 150px;
}

#unobtained {
    filter: grayscale(100%);
}

#creditButton {
    width: 120px;
}

#packsButton {
    width: 140px;
}

.btn-danger {
    color-scheme: #F0131E;
    color: black;
}